@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: inline-block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        height: 1em;
        width: 2em;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
   
 .image-responsive{
    display: block;
    width: 100%;
 }
 .page__header{
    background-image: url(../images/header-2560w.webp);
    background-size: cover;
    background-position:top center ;
    padding: 0.5em;
 }
 .page__intro{
    color: var(--light, white);
    margin-left: 1em;
    margin-bottom: 1em;  
 }
 .page__logo {
    display: inline-block;
    padding: 1em;
    margin: 0 auto;
 }
.page__logo__container{
    text-align: center;
}

.button{
    display: inline-block;
    color: var(--light, white);
    background-color: var(--primary);
    padding: 0.75em 1.25em;
    border-radius: 0.5em;
    font-weight: 700;
    text-decoration: none;
}
.button--light{
    color: var(--text);
    background-color: var(--light);
}
.button:hover{
    background-color: var(--black);
    color: var(--light);
    text-decoration: underline;
}
}